<div class="container text-center text-cinemax p-5">
    <div class="card text-green bg-pitch mb-3 p-5">
        <div class="card-header">
          <h1 class="text-center" >SIGNUP</h1>
        </div>
          <div class="card-body">
              <div class="form-group text-orb">
                  <%= render 'form', user: @user %>
              </div>
          </div>
    </div>
</div>


<%= link_to 'Back', users_path %>
