    <footer class="bg-pitch row  text-center">
        <div class="col-12 col-lg-3 col-md-6">
            <div class="container px-5 py-3 text-orb">
                <a href="" class="text-decoration-none">
                    <h6 class="text-green hover-big hover-bg-bgreen p-1">
                        Some link
                    </h6>
                </a>
                <a href="" class="text-decoration-none">
                    <h6 class="text-green hover-big hover-bg-bgreen p-1">
                        Some link
                    </h6>
                </a>
                <a href="" class="text-decoration-none">
                    <h6 class="text-green hover-big hover-bg-bgreen p-1">
                        Some link
                    </h6>
                </a>
                <a href="" class="text-decoration-none">
                    <h6 class="text-green hover-big hover-bg-bgreen p-1">
                        Some link
                    </h6>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6">
            <div class="container px-5 py-3 text-cinemax">
                <a href="" class="text-decoration-none">
                    <h6 class="text-green hover-big hover-lgreen p-1">
                        Some link
                    </h6>
                </a>
                <a href="" class="text-decoration-none">
                    <h6 class="text-green hover-big hover-lgreen p-1">
                        Some link
                    </h6>
                </a>
                <a href="" class="text-decoration-none">
                    <h6 class="text-green hover-big hover-lgreen p-1">
                        Some link
                    </h6>
                </a>
                <a href="" class="text-decoration-none">
                    <h6 class="text-green hover-big hover-lgreen p-1">
                        Some link
                    </h6>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6">
            <div class="container px-5 py-3">
                <h6 class="text-white">Some link</h6>
                <h6 class="text-white">Some link</h6>
                <h6 class="text-white">Some link</h6>
                <h6 class="text-white">Some link</h6>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-6">
            <div class="container px-5 py-3">
                <h6 class="text-white">Some link</h6>
                <h6 class="text-white">Some link</h6>
                <h6 class="text-white">Some link</h6>
                <h6 class="text-white">Some link</h6>
            </div>
        </div>
        <div class="col-12 pb-3 text-bgreen text-orb"> ©2023 Cinemax</div>
    </footer>